@tailwind base;
@tailwind components;
@tailwind utilities;
.boton {
  @apply border-4 border-blue-900 p-2 text-red-400 font-bold rounded-lg shadow-lg hover:bg-violet-600 hover:cursor-pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
